<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="https://upload.wikimedia.org/wikipedia/vi/e/ea/Logo_dong_a.png">
        <a href="/users/register" class="btn btn-success btn-block mb-2"
          >ĐĂNG KÝ</a
        >
        <a href="/users/login" class="btn btn-success btn-block">ĐĂNG NHẬP</a>
        <p>Tạo tài khoản hoặc đăng nhập</p>
      </div>
    </div>
</div>
