<!-- form handling-->
<form method="POST" id="add_subject">
    <div class="new_subject">
     <div class="form-group">
         <label for="room" class="text-light">Tên lớp</label>
         <input type="text" name="room" value="" placeholder="Tên lớp...">
     </div>
      <div class="form-group">
          <label for="name" class="text-light">Tên học phần</label>
          <input type="hidden" name="id" value="">
          <input type="text" name="name" value="" placeholder="Tên học phần...">
      </div>
      <div class="form-group">
         <label for="Number" class="text-light">Số tín chỉ</label>
         <input type="text" name="number" value="" placeholder="Số tín chỉ...">
     </div>
     <div class="form-group">
         <button type="submit" class="btn text-dark update">Lưu</button>
     </div>
    </div>
 </form>