<tr>
    <td>1</td>
    <td>Tên học phần</td>
    <td>1</td>
    <td>
        <a href="/update-subject"class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>